" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
source ~/.vimrc

""" Map leader to space ---------------------
let mapleader=" "

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
set easymotion
set commentary
set NERDTree
set clipboard+=unnamedplus
set number
set relativenumber

nnoremap <leader>e :NERDTreeFind<CR>:wincmd p<CR>
nnoremap <leader>e :NERDTreeToggle<CR>
nmap s <Plug>(easymotion-s2)
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap L :tabnext<cr>
nnoremap H :tabprevious<cr>

map <C-space> <action>(EditorSelectWord)
map <C-/> :shell<cr>

" --------- 文件 / 项目导航 ----------
" 最近打开文件
map <leader>fr <action>(RecentFiles)

" --------- 代码编辑 ----------
" 格式化代码
map <leader>cf <action>(ReformatCode)

" 显示引用（Usages）
nnoremap <leader>u <action>(FindUsages)

" --------- Git 集成 ----------
" 显示注释 blame
map <leader>gb <action>(Annotate)

" 显示 Git 工具窗口
map <leader>gg <action>(ActivateVersionControlToolWindow)

" --------- 调试 ----------
" 切换断点
nnoremap <leader>b <action>(ToggleLineBreakpoint)

" 启动调试
nnoremap <leader>dd <action>(Debug)

" 启动运行
nnoremap <leader>dr <action>(Run)

" 停止运行/调试
nnoremap <leader>ds <action>(Stop)

" --------- 窗口管理 ----------

" --------- 其他 ----------
" 双空格打开文件搜索
map <leader><Space> <action>(GotoFile)